---
layout: default
---


<div class="post container">
  <div class="row">
    <div class="col-md-3">
       <div style="border:1px #AA6708 solid;border-left:5px #AA6708 solid;border-radius:3px;padding:20px">
         <h3>Property</h3>
         {% if page.categories != empty %}
         <h5><i class="glyphicon glyphicon-paperclip"></i> <span> {{ page.categories }}</span></h5>
         {% endif %}
         {% if page.tags != empty %}
         <h5><i class="glyphicon glyphicon-tag"></i> <span> {{ page.tags }}</span></h5>
         {% endif %}
         {% if page.author != empty %}
         <h5><i class="glyphicon glyphicon-user"></i> <span> {{ page.author }}</span></h5>
         {% endif %}
       </div>
    </div>
    <div class="col-md-9">
       <div class="well">
          <header class="post-header">
           <h1 class="post-title">{{ page.title }}</h1>
           <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </header>

          <article class="post-content">
             {{ content }}
          </article>
       </div>
       {% if page.previous != null %}
       <div><span>上一篇:</span> <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></div>
       {% endif %}
       {% if page.next != null %}
       <div><span>下一篇:</span> <a href="{{ page.next.url }}"> {{ page.next.title }}</a></div>
       {% endif %}
       
       <!-- Duoshuo Comment BEGIN -->
		<div id="comments">
		    <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"></div>
		</div>
		<!-- Duoshuo Comment END -->
    </div>
  </div> 

</div>
